<!DOCTYPE html>
<html>

<head>
    <title>Documentation | IUDX Sandbox Backend</title>
    <!-- needed for adaptive design -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">

    <!--
    ReDoc doesn't change outer page styles
    -->
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <redoc
        spec-url='https://gist.githubusercontent.com/Amarthya03/d5af670293b6348ec378388711570c40/raw/4e831149bcbf1883d26ebfdfac073a6282e10a83/iudx-cil-api.yaml'>
    </redoc>
    <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>
</body>

</html>